##############################################################
#               Configuracion del servidor
#############################################################

# Server name
server_name|saws010

# Numero minimo de archivos por carpeta valor sugerido 4
min_files_num|4

# Numero maximo de archivos por carpeta valor sugerido 50
max_files_num|10

# Carpeta donde se encuentran las declaraciones de las tablas
tables_dir|tables/

# Debuguear 1 = si    0= no
debug|0
#Check country 1= si     0=no
country|0

# user_lighttpd
#user_light|www-data #Se desactiva

#group_lighttpd
#group_light|www-data #Se desactiva

geoipdat|/opt/comunidades/views/GeoIPCity.dat


##############################################################
#               Configuracion de paths
#############################################################

# Path de donde leera y escribira los archivos ej. 
logpath|/usr/local/lighttpd/logs/

# Path donde se moveran los archivos que se estan procesando
procpath|/opt/comunidades/logs/work/

# Path donde escribira los errores
errpath|/opt/comunidades/logs/error/

# Path
# pushpath|C:\vistas\push\ #Se desactiva

# Nombre del archivo que escriben los servidores
filename|vistas.views




##############################################################
#               Configuracion de base de datos
#############################################################

# Servidor de base de datos (vistas)
server_db_ip|1.1.1.1
server_db_ip_gall|1.1.1.1
server_db_ip_esmas|1.1.1.1

# Usuario para conectarse a la base de datos(vistas)
server_db_user|py
server_db_user_gall|vg
server_db_user_esmas|esmas

# Password para conectarse a la base de datos(vistas)
server_db_pass|5******
server_db_pass_gall|19****
server_db_pass_esmas|gh*****

# Nombre de la base de datos(vistas)
server_db_schema|views
server_db_schema_comm|comments
server_db_schema_gall|galerias
server_db_schema_esmas|esmas


##############################################################
#               Configuracion de las alertas
#############################################################

#Mails que recibiran la notificación
mails_alerts|gab@esmas.net,roberto.bautista@esmas.net

# Cuenta de correo de gmail desde donde se haran los envios
gmail_user|apps@esmas.com

# Contraseña de la cuenta de correo de gmail desde donde se haran los envios
gmail_pass|E*****
