##############################################################
#               Configuracion de base de datos
#############################################################

# Servidor de base de datos (vistas)
#server_db_ip|************ 
server_db_ip|**************
#server_db_ip|localhost
server_db_port|28015



##############################################################
#               Nombre de Base de Datos
#############################################################
# Base de datos
#name_db|twitter_settings
name_db|social_hub_settings


##############################################################
#               Nombre de Tablas
#############################################################
#Tablas
table_profiles|profiles
table_hashtags|hashtags
table_lists|lists
table_configured_services_social_hub|configured_services_social_hub
table_tweets_service|tweets_service
table_update_social_hub|update_social_hub
table_instagrams|instagrams
table_configured_services_social_hub_versus|configured_services_social_hub_versus
table_facebook_groups|facebook_groups


##############################################################
#               Configuracion de Tweepy
#############################################################
# Token tweepy
consumer_key_0|25ffzXMVvhioMRoJoIWqBUsTI
consumer_secret_0|4Oq71E1yImfggP0q7xzkRmW5LDYo1SGoNsMc8YRcp8BzY25JlWqlD
access_token_0|3083171761-H7t4u0jhDhjjE8NoEtrooepfhj2Gz1PMNwCW16ZxMJ
access_token_secret_0|1h4iexjM66J4EQJZUw9YjkkIp9XNdvUKF5ckNriMn222LRH3

consumer_key_1|OpNQ6TNaC7tIPN54czYlnW4st
consumer_secret_1|jbuVNPDvTcyVCEoSYoeUIVuChLWrGUj5xj9AwnffEcI1U9AnU4
access_token_1|3083171761-dA5jnPd8hHC80jH5qfRIiU81konc5lmmUwqNHkp
access_token_secret_1|4Yl0kyemWRoIIhfQfTvG56MXCVDuIJonZN8VbykkmSvJ2

consumer_key_2|b5cOLWWN1yjGcFmPIKuSKOZPp
consumer_secret_2|KwBimkTp2zUS4fgYVfm5nZndjtXvFjasUnIdn8dtBccS7phBwZx2
access_token_2|3083171761-kPFsdrtMGZI5cn7AHOPRxeCIRQzATyPLBU0ov6q49
access_token_secret_2|pViVPnCR4PNMAHVhKqm14EuMT3IcHdjxiXAXdJO5Nu0vO

consumer_key_3|dXw3mN8VghdSahJLNaQNh30WNNY
consumer_secret_3|ZSWMgqDlyUrFyghXOByvm68fyG2PwBjKUeKoIbAYnQSqOdYVvz7O
access_token_3|3083171761-M13ddsdft&KDpiFySLhBzSbAssDe9ahy9aJ5ZgWuIO
access_token_secret_3|STZifiTebaLOk3o5vquDFGt20Uu9jYhka85rDtGyQzK0P

consumer_key_4|LUMcq20fFtrwuO3fRfmodbscWmE
consumer_secret_4|7mUhjbboFa7uyP26SeVirCqZrENnS1dxxkI1d72UfxROQbHxxpVO
access_token_4|3083171761-e7OqghEOjolZrEuG83EoGN2XEgdz5h8ohdZsGZjG9
access_token_secret_4|b9HVbKfla3uyuBrJd9ry61NjqxUwF6TPNuZ2iZxcgwqvo4c


##############################################################
#               Configuracion de Bucket
#############################################################

aws_access_key_id|******************
aws_secret_access_key|**********************
bucketname|*******************



##############################################################
#               Configuracion de Usuario Lista
#############################################################

list_profile|@85_dom_85

##############################################################
#               Configuracion de Instagram
#############################################################

client_secret|4cc49b83b68e447087efcf6efd19e812
client_id|965dd72bf2a8489da694624ba92ed34b