<div class="parsys containerThreeRight">
		<div class="section wdgTwitt03">
			<div class="devices hide-tablet">
			    <div class="principal_element wdg_twitt_02" data-enhance="false" id="wdg_twitt_02">				
			    	<div class="wdg_carousa">	            	
			    		<div class="wdg_twitt_02_title">	                	
			    			<strong class="background-color-pleca1">	                   		
			    				<a class="textcolor-title3" target="_self" title=""> Twitter<span class="icon mobile"></span></a>	               		
			    			</strong>	               		
			    			<ul class="carouselArrows">	                  		
			    				<li class="">	                     		
			    					<a href="#left" class="carouselArrowLeft" id="carouselArrowLeft_comm" onclick="tweeting_rga.loadCarrousel(1,'left');">	                        		
			    						<i class="tvsa-double-caret-left inactive"></i>	                     		
			    					</a>	                  		
			    				</li>	                  		
			    				<li class="dotted-left"></li>	                  		
			    					<li class="">	                     		
			    						<a href="#right" onclick="tweeting_rga.loadCarrousel(1,'right'); return false;"  id="carouselArrowRight_comm">	<i class="tvsa-double-caret-right"></i>	                     		
			    						</a>	                  		
			    					</li>	               		
			    			</ul>	            	
			    		</div>	            	

			    		<div class="twitterAccount wdg_twitt_02_carousel" id="wdg_twitt_02_carousel_comm">	            			            		
			    			<div class="microfiche-screen" id="microfiche_screen_comm" style="position: relative; overflow: hidden; width: auto; height: 345px;">
			    				<div class="microfiche-film" id="microfiche_film_comm" style="position: absolute; -webkit-transform: translate3d(0px, 0px, 0px); width: 900px; ">	            						            		
			    					<ul class="wdg_twitt_02_carousel_ul" style="float: left; width: 900px;" >			            			
			    						<div ng-repeat="(key, tweet) in contenHtml" ng-bind-html="tweet" class='numTweets'></div>	            		
			    					</ul>		            					            		
			    				</div>		            	
			    			</div>		            						
			    		</div>				
			    	</div>				
			    </div>
			</div>
		</div>
	</div>

