/**! @desc banners.banner-init
 @generated 2014-07-23T18:26:45-05:00
**/
/**! @desc banners.box-banner
 @generated 2015-01-30T09:42:09-06:00
**/

.desktop-2 .banners-desktop-1,
.desktop-3 .banners-desktop-1 {
  display: none;
}

.banners-desktop-1 {
  background: #eaeaea;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
@media all and (min-width: 1010px) {
  .banners-desktop-1 {
    width: 330px;
  }
}

.banners-desktop-1 span {
  color: #575757;
  font-size: 12px;
  text-align: center;
  display: block;
}

@media all and (max-width: 647px) {
  .banners-desktop-1 {
    margin-bottom: 20px;
    width: 100%;
  }

  .banners-desktop-1 div {
    padding-bottom: 7px;
    min-height: 52px;
  }
}
@media all and (min-width: 648px) and (max-width: 1010px) {
  .banners-desktop-1 {
    margin-bottom: 40px;
    width: 100%;
  }

  .banners-desktop-1 div {
    padding-bottom: 7px;
  }

  .banners-desktop-1 div {
    min-height: 90px;
  }
}
@media screen and (min-width: 1010px) {
  .banners-desktop-1 {
    margin-bottom: 40px;
  }

  .banners-desktop-1 span {
    text-transform: uppercase;
    padding: 15px 0;
    font-family: 'Trebuchet Ms';
  }

  .banners-desktop-1 div {
    padding-bottom: 20px;
    min-height: 250px;
  }
}
