/* BEGIN: FUENTES */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

@font-face { font-family: 'c5-promociones'; src: url(../fonts/c5-promociones/canal-5.ttf) format('truetype'), /* Safari, Android, iOS */
  url(../fonts/c5-promociones/canal-5.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(../fonts/c5-promociones/canal-5.woff) format('woff'), /* Modern Browsers */
url(../fonts/c5-promociones/canal-5.svg#555512b92c5a82.11253509) format('svg'); /* Legacy iOS */ font-style: normal; font-weight: normal; }
[class^="c5-"], [class*=" c5-"] { font-family: 'c5-promociones'; font-weight: normal; font-style: normal; text-decoration: inherit; -webkit-font-smoothing: antialiased; display: inline; width: auto; height: auto; line-height: normal; vertical-align: baseline; background-image: none; background-position: 0 0; background-repeat: repeat; margin-top: 0 }
[class^="c5-"]:before, [class*=" c5-"]:before { text-decoration: inherit; display: inline-block; speak: none }
a [class^="c5-"], a [class*=" c5-"] { display: inline-block }
.c5-logo:before { content: "\0041"; }
.c5-mensaje:before { content: "\0042"; }
.c5-facebook:before { content: "\0043"; }
.c5-twitter:before { content: "\0044"; }
.c5-plus:before { content: "\0045"; }
.c5-pinterest:before { content: "\0046"; }
.c5-izquierda:before { content: "\0047"; }
.c5-derecha:before { content: "\0048"; }
.c5-arriba:before { content: "\004A"; }
.c5-abajo:before { content: "\0049"; }
.c5-calendario:before { content: "\004B"; }
.c5-check:before { content: "\004C"; }
.c5-share:before { content: "\004D"; }
.c5-popcorn:before { content: "\004E"; }
.c5-home:before { content: "\004F"; }
/* END: FUENTES */

/* BEGIN: RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-family: 'Source Sans Pro', 'Arial'; -webkit-font-smoothing: auto; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline }
html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100% }
*, :before, :after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
a:-webkit-any-link, a -webkit-link { text-decoration: none; color: #575757; }
a:link { color: #575757; text-decoration: none; }
body { background: #fff }
article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; }
ol, ul { list-style: none }
table { border-collapse: separate; border-spacing: 0 }
caption, th, td { font-weight: 400; text-align: left }
blockquote:before, blockquote:after, q:before, q:after { content: "" }
blockquote, q { quotes: "" "" }
a:focus { outline: 0 }
a img { border: 0 }
body, ul, li { margin: 0; padding: 0 }
.limpiar { clear: both }
.clearme { clear: both; height: 1px; font-size: 1px }
/* END RESET */

/* BEGIN: HEADER */
h1 { margin: 0; }
.cintillo-promo h1 a:-webkit-any-link, .cintillo-promo h1 a:-webkit-link, .cintillo-promo h1 a:link, .cintillo-promo h1 a { color: white !important; }
.header-promo { background-color: #f94949; }
.cintillo-promo { height: 80px; overflow: hidden; position: relative; max-width: 1010px; margin: 0 auto; }
.cintillo-promo h1 { display: table-cell; color: white; text-transform: uppercase; font: normal 900 18px 'Source Sans Pro', sans-serif; color: black; color: white; letter-spacing: -0.3pt; vertical-align: middle; line-height: 1.12; }
.cintillo-promo h1 a { color: white; }
#tui-logo { width: 143px !important; height: 60px; float: left; margin: 12px 10px 15px 10px; z-index: 10; }
#tui-logo a { background: url(/img/spacer.gif); display: block; text-align: left; width: 100%; color: white; }
#tui-logo a i { font-size: 88px; line-height: 45px; }
.vertical-container { display: table; height: 73px; padding-right: 42px; }
.shareall div span { position: relative; margin: 0; transition: all .5s ease 0; -o-transition: all .5s ease 0; -mos-transition: all .5s ease 0; -webkit-transition: all .5s ease 0; padding: 0 0; top: 0; display: inline-block; font-family: 'Canal 5'; font-style: normal; font-weight: 400; cursor: pointer }
.shareall div { display: inline-block; font-family: 'Canal 5'; font-style: normal; font-weight: 400; margin: 0; cursor: pointer; transition: all .5s ease 0; -o-transition: all .5s ease 0; -mos-transition: all .5s ease 0; -webkit-transition: all .5s ease 0; color: #FFF; }
.shareall .mobile .home-icon:hover { opacity: .8 }
.shareall .a-btn-slide-show div:first-child { margin-left: 18px }
.shareall div .icon i { padding: 0; }
.shareall i.c5-twitter { color: #55ACEE; margin: 0 }
.shareall i.c5-facebook { color: #3B5998; margin: 0 }
.shareall i.c5-plus { color: #DD4B39; margin: 0 }
.shareall i.c5-mensaje { color: #FF8D13; margin: 0 }
.shareall i.c5-pinterest { color: #CB2028; margin: 0 }
.shareall .a-btn, .shareall .close { background: 0 0; padding-left: 0; padding-right: 0; display: inline-block; -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; overflow: hidden; -webkit-transition: all .3s linear; -moz-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; position: relative }
.shareall .a-btn-show { padding: 5px; right: 0; display: block; font-size: 18px; white-space: nowrap; text-shadow: 0 1px 1px rgba(255, 255, 255, .3); color: #446388; -webkit-transition: all .2s linear; -moz-transition: all .2s linear; -o-transition: all .2s linear; transition: all .2s linear }
.shareall .a-btn-slide-show { position: absolute; opacity: 0; height: 100%; top: 0; right: 200px; width: 0; white-space: nowrap; text-transform: uppercase; -webkit-transition: width .3s linear; -moz-transition: width .3s linear; -o-transition: width .3s linear; transition: width .3s linear; padding: 0; -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px }
.shareall .a-btn:hover .a-btn-show { text-shadow: 0 1px 1px #5d81ab; color: #fff }
.shareall .a-btn .a-btn-slide-show { left: 0; max-width: 100%; width: 100%; opacity: 1; background: #fff; -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; z-index: 0 }
.shareall .a-btn-icon-right { position: absolute; top: 0; -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; -webkit-box-shadow: 1px 0 1px rgba(255, 255, 255, .4) inset; -moz-box-shadow: 1px 0 1px rgba(255, 255, 255, .4) inset; box-shadow: 1px 0 1px rgba(255, 255, 255, .4) inset; padding: 0; }
.a-btn:hover .a-btn-icon-right span { opacity: .8 }
.tui-wrapper-bar-content { max-width: 1010px; width: 100% }
.shareall div a { text-decoration: none; text-align: center; }
.shareall .c5-share { background: #ba3c3d; color: #f94949; }
.cintillo-bar-back { display: block; margin-top: 15px; width: calc(100% - 5%); }
.cintillo p.cintillo_t a { font-weight: 900; font-size: 12px; text-transform: uppercase; color: #fff; font-family: 'Source Sans Pro', sans-serif; line-height: 18px; margin: 20px 0 0; text-decoration: none; display: block; max-height: 36px; overflow: hidden; }
.cintillo p.caption { font-weight: 400; font-size: 14px; line-height: 18px; text-transform: uppercase; color: #fff; font-family: 'Source Sans Pro', sans-serif; margin: 0; display: none; }
.blue-cintillo li a:hover, .blue-cintillo li.current a, .blue-cintillo li.next.activo a:hover, .blue-cintillo li.prev.activo a:hover { background-color: #A1BBB0 !important }
.shareall div { height: 45px; width: 45px }
.shareall div span { height: 30px; width: 30px; line-height: 40px; }
.shareall .mobile { width: auto; display: block; margin: auto; float: right; position: absolute; right: 0; }
.shareall { height: auto; width: auto; display: block }
div.shareall { min-width: 0; max-width: 100%; display: inline-block; position: absolute; right: 10px; bottom: 12px; }
.shareall .mobile .home-icon { float: left; position: relative; left: inherit; margin: 17px 30px 17px 0 }
.shareall .a-btn { position: relative; right: inherit; height: 30px; width: 30px }
.shareall div .icon i:before { padding: 0; margin: auto; text-align: center; line-height: 32px; width: 30px; height: 30px; display: block; font-size: 30px; }
.shareall div i:before { font-size: 28px; width: 30px; height: 30px; line-height: 30px; }
.shareall .a-btn, .shareall .close { opacity: 1 }
.shareall .a-btn { padding-right: 13.5em; overflow: hidden }
.shareall .a-btn.close { padding-right: 0 }
div.shareall { min-width: 100%; margin: 0 auto; max-width: 100%; -webkit-transition: all .3s linear; -moz-transition: all .3s linear; -o-transition: all .3s linear; transition: all .3s linear; height: 30px; clear: both; float: none; }
.shareall div { height: 30px; width: 30px; margin: 0; top: 0; z-index: 0; }
.shareall .a-btn-icon-right {background-color: red; width: 30px; height: 30px; z-index: 300; right: 0; overflow: hidden; }
/* END: HEADER */

/* BEGIN: BANNERS */
.container-bannerdesktop3-3 { background: rgba(0, 0, 0, 0.2); margin: 0 auto; width: 100%; padding: 24px 10px 12px; }
.container-bannerdesktop3-3 span { display: block; text-align: center; text-transform: uppercase; font-size: 12px; font-family: monospace; }
.banners-desktop3-3 { max-width: 1010px; text-align: center; margin: 0 auto; min-height: 50px; }
/* END: BANNERS */

/* BEGIN: FOOTER */
footer.c5-footer { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; width: 100%; font-family: Source Sans Pro; justify-content: space-between; -webkit-justify-content: space-between; margin: 0 auto; height: 55px; }
footer.c5-footer * { font-family: 'Source Sans Pro', sans-serif; }
footer.c5-footer .c5-logo { font-family: 'c5-promociones'; color: #000; font-size: 60px; line-height: 62px; }
footer.c5-footer .c5-logof { width: 190px !important; height: 60px!important; margin: 15px 0 0 10px; position: relative; }
footer.c5-footer .c5-logof a { width: 100%; height: 100%; position: absolute; display: block; }
footer.c5-footer .c5-txtf { line-height: 24px; font-size: 12px; width: calc(100% - 70px); padding-right: 8px; display: table-cell; text-align: right; color: #666; margin: 8px 0 12px; }
.container-footer { background: #ccc; clear: both; overflow: hidden; }
.c5-logof { display: table-cell; }
/* END: FOOTER */

/* BEGIN: OTROS ESTILOS */
.iu-texto { padding: 0 10px; }
.iu-texto .terminos-condiciones { max-width: 1010px; margin: 0 auto; width: 100%; }
.iu-texto .terminos-condiciones .title { font-weight: bold; font-size: 24px; padding: 16px 0 14px; letter-spacing: -.025em; color: #f94949; }
.iu-texto .terminos-condiciones .resumen_login { font-size: 16px; color: #666; padding: 0 0 18px; }
/* END: OTROS ESTILOS */


/* BEGIN: VERSUS 1 A 1 */
@media screen {
  .box-c5-footer .box-top5 .top { background: #eaeaea; }
  .box-c5-footer .box-top5 .top li p.profile { margin: 11px 10px 10px 20px; display: inline-block; max-width: 45px; position: relative; }
  .box-c5-footer .box-top5 .top li.selected p.profile { position: relative; }
  .box-c5-footer .box-top5 .top li.selected p.profile span { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 3px solid #f94949; }
  .box-c5-footer .box-top5 .top li p.profile span { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 1px solid #666; }
  .box-c5-footer .box-top5 .top li.selected p.profile-text { color: #f94949; border-right: 1px solid #f94949; font-weight: 600; }
  .box-c5-footer .box-top5 .top li p.profile-text { display: inline-block; font-size: 16px; font-weight: normal; vertical-align: top; color: #666; min-height: 45px; width: calc(100% - 191px); margin: 11px 0 10px 0; border-right: 1px solid #666; padding-right: 10px; }
  .box-c5-footer .box-top5 .top li p.profile-points { width: 100px; height: 50px; display: inline-block; vertical-align: top; margin: 6px 0 0 0; text-align: center; }
  .box-c5-footer .box-top5 .top li.selected p.profile-points i { color: #f94949; font-size: 50px; }
  .box-c5-footer .box-top5 .top li p.profile-points i { font-size: 47px; line-height: 30px; display: block; margin-bottom: 6px; color: #666; }
  .box-c5-footer .box-top5 .top li.selected p.profile-points b { color: #f94949; font-size: 16px; }
  .box-c5-footer .box-top5 .top li p.profile-points b { font-size: 14px; font-weight: bold; color: #666; line-height: 16px; }
  .box-c5-footer .box-twitter { max-width: 330px; display: inline-block; width: 100%; text-align: center; }
  .box-c5-footer .box-top5 { display: inline-block; vertical-align: top; margin: 0 10px; width: 100%; max-width: 300px; text-align: center; }
  .c5-wapper .box-c5-footer { text-align: center; overflow: hidden; }
  .box-twitter h3 { font-size: 48px; color: #f94949; font-weight: bold; letter-spacing: -.025em; margin-bottom: 7px; }
  .box-top5 .top5 { font-size: 0; }
  .box-top5 .top5 .titulo-top { color: #f94949; font-size: 24px; font-weight: bold; display: inline-block; margin-right: 10px; letter-spacing: -.025em; margin-bottom: 7px; }
  .box-top5 .top5 > span { color: #f94949; font-size: 16px; font-weight: bold; display: inline-block; line-height: 24px; letter-spacing: -.025em; }
  .box-c5-footer > div { margin: 0 auto; max-width: 1010px; width: 100%; font-size: 0; margin-bottom: 20px; margin-top: 16px; display: block; }
  .box-c5-footer .desk_box_banner { max-width: initial; vertical-align: top; background: rgb(234, 234, 234); margin: 20px auto; min-height: 50px; margin-bottom: 0; }
  footer.c5-footer .c5-txtf a { color: #666; text-decoration: underline; }
  footer.c5-footer .c5-txtf a:hover { opacity: 0.8; }
  .c5-vs .wrapper-container .container, .c5-vsx .c5-versus-2 .wrapper-container .container { position: relative; font-size: 0; max-width: 100%; margin: 0 auto; }
  .c5-vs .wrapper-container .container .versus > span { position: absolute; z-index: 117; width: 70px; height: 70px; color: #f94949; font-size: 45px; left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); text-align: center; line-height: 65px; font-style: italic; font-weight: bold; border-radius: 50%; -webkit-border-radius: 50%; border: 4px solid #f94949; background: #FFF; }
  .c5-vs .wrapper-container .container .versus .img1 { width: 50%; display: inline-block; margin: 0; background-size: 100%; background: url(http://finalpage.esmas.com/apps/prototipo/canal5Versus2/unElemento/images/background_spiderman.png) no-repeat 50% 50%; border-right: 2px solid #f94949; vertical-align: top; }
  .c5-vs .wrapper-container .container .versus .img2 { background-size: 100%; background: url(http://finalpage.esmas.com/apps/prototipo/canal5Versus2/unElemento/images/background_xmen.png) no-repeat 50% 50%; margin: 0; width: 50%; display: inline-block; vertical-align: top; border-left: 2px solid #f94949; }
  .c5-vs .wrapper-container .container .versus .poster-imagen { padding: 20px 18px; }
  .c5-vs .wrapper-container .container .versus .poster-imagen .imagen { width: 100%; max-width: 300px; margin: 0 auto; position: relative; }
  .c5-vs .wrapper-container .container .versus .poster-imagen .imagen img { width: 100%; position: relative; display: block; opacity: 1; }
  .c5-vs .wrapper-container .container .versus .poster-imagen .imagen .votar span { color: #FFF; transform: rotate(-45deg) translate(-66px, -133%); -webkit-transform: rotate(-45deg) translate(-66px, -133%); left: 14px; top: -25px; z-index: 100; font-size: 12px; font-weight: bold; position: absolute; }
  .c5-vs .wrapper-container .container .versus .poster-imagen .votar { position: absolute; top: 0; left: 0; border-right: 50px solid transparent; border-top: 0px solid #063e7b; border-left: 50px solid #063e7b; border-bottom: 50px solid transparent; }
  .c5-vs .wrapper-container .container .poster .imagen a { display: block; border: 3px solid #063e7b; }
  .c5-vs .wrapper-container .container .poster .imagen a:hover img { opacity: 0.7; }
  .c5-vs .wrapper-container .container .versus .poster-imagen .img-title { height: 40px; font-size: 14px; padding: 4px 4px 2px; color: #FFF; background: #063e7b; font-weight: 600; overflow: hidden; }
}
@media screen and (min-width:648px) {
  .box-c5-footer .box-top5 .top li p.profile-points { width: 110px; }
  .box-c5-footer .box-top5 .top li p.profile-text { padding-right: 14px; }
  .box-c5-footer .box-top5 { max-width: 330px; }
  .box-top5 .top5 .titulo-top { font-size: 48px; }
  .box-top5 .top5 > span { font-size: 22px; }
  .box-c5-footer .desk_box_banner { max-width: 330px; }
}

/*TABLET*/
@media screen and (min-width:748px) {
  .cintillo-promo { height: 80px; }
  .vertical-container { height: 80px; padding-right: 0; }
  .cintillo p.cintillo_t a { font-weight: 900; font-size: 25px; line-height: 30px; margin: 15px 0 0; max-height: 30px; }
  div#tui-logo { float: left; z-index: 10; margin: 12px 22px 12px 20px; }
  .c5-vs .cintillo-promo h1 { font-size: 30px; }
  #tui-logo a i { font-size: 83px; line-height: initial; }
  .cintillo p.caption { display: block; }
  .tui-wrapper-bar-content { min-height: 80px; }
  .shareall div i { height: 45px; line-height: 45px; width: 45px; }
  .shareall .a-btn-icon-right { width: 45px; right: 0; height: 45px; }
  .shareall div { height: 45px; width: 45px; }
  .shareall .a-btn { position: relative; right: inherit; height: 45px; width: 45px }
  .shareall div .icon i:before { height: 45px; width: 45px; font-size: 45px; line-height: 47px; }
  .shareall div i:before { font-size: 45px; line-height: 47px; }
  div.shareall { right: 30px; }
  .shareall .mobile { width: auto; display: block; margin: auto; float: right; position: initial; left: 0; top: 0; transform: initial; }
  .c5-vs .cintillo-bar-back { margin-top: 0; }
  footer.c5-footer { height: 60px; }
  footer.c5-footer .c5-txtf { padding-right: 40px; font-size: 16px; padding-top: 10px; text-align: center; }
  div.shareall { height: 45px; }
  .iu-texto { padding: 0 20px; }
  .iu-texto .terminos-condiciones .title { font-size: 48px; padding: 32px 0 12px; line-height: 48px; }
  .iu-texto .terminos-condiciones .resumen_login { font-size: 26px; color: #666; padding: 0 0 36px; }
  .container-bannerdesktop3-3 { padding: 24px 20px 12px; }
  .desk_box_banner { margin-top: 0; display: inline-block; width: 330px; text-align: center; }
  .desk_box_banner p { color: #BBB; letter-spacing: 1px; font-family: Helvetica; font-size: 15px; font-weight: 400; margin: 25px 0 10px; text-transform: uppercase; text-align: center; }
  .box-c5-footer > div { margin-bottom: 40px; margin-top: 32px; }

  .c5-vs .wrapper-container .container .versus > span { width: 70px; height: 70px; line-height: 65px; font-size: 45px; }
  .c5-vs .wrapper-container .container .versus > span { border: 4px solid #f94949; }

  .c5-vs .wrapper-container .container .versus .poster-imagen .imagen .votar span { left: -22px; top: 3px; font-size: 26px; }
  .c5-vs .wrapper-container .container .versus .poster-imagen .votar { top: 0; left: 0; border-right: 110px solid transparent; border-top: 0px solid #063e7b; border-left: 110px solid #063e7b; border-bottom: 110px solid transparent; }
  .c5-vs .wrapper-container .container .versus .poster-imagen .img-title { height: 60px; font-size: 22px; line-height: 25px; padding: 5px 20px 4px; }
  .c5-vs .wrapper-container .container .versus .poster-imagen { padding: 20px 10px 40px 10px; }
  .shareall .a-btn { padding-right: 19.5em; overflow: hidden }
}

/*DESKTOP*/
@media screen and (min-width:1010px) {
  .c5-vs .cintillo-promo h1 { font-size: 30px; }
  div#tui-logo { margin: 12px 30px 12px 30px; }
  #tui-logo a i { font-size: 96px; line-height: initial; }
  .c5-vs .shareall div .icon i:before { height: 30px; width: 30px; font-size: 32px; line-height: 23px; }
  .c5-vs .shareall div .icon i:before { font-size: 45px; line-height: 46px; height: 45px; width: 45px; }
  footer.c5-footer { display: table; max-width: 1010px; }
  footer.c5-footer .c5-logof { display: block; }
  footer.c5-footer .c5-txtf { font-size: 14px; letter-spacing: 0.01em; margin-right: 40px; vertical-align: middle; padding-top: 0; }
  .c5-vs .cintillo-bar-back { width: calc(100% - 10%); }
  .c5-vs .box-c5-footer .desk_box_banner { height: 330px; margin-top: 67px; }
  .c5-vs .box-twitter h3 { font-size: 48px; font-weight: bold; }
  .c5-vs .box-top5 .top5 .titulo-top { font-size: 48px; font-weight: bold; margin-right: 10px; }
  .c5-vs .box-top5 .top5 > span { font-size: 22px; font-weight: bold; line-height: 24px; }
  .c5-vs .hidden-desktop { display: none !important; }
  .c5-vs .wrapper-container .container .versus > span { width: 170px; height: 170px; line-height: 155px; font-size: 110px; }
  .c5-vs .wrapper-container .container .versus .poster-imagen { padding: 40px 10px 40px 10px; }
}
@media screen and (min-width:320px) and (max-width:748px) {
  .hidden-smartphone { display: none !important; }
}
@media screen and (min-width:748px) and (max-width:1010px) {
  .hidden-tablet { display: none !important; }
}
/* END: VERSUS 1 A 1 */



/* BEGIN: VERSUS MAS DE 2 */
  @media screen {
  .c5-vsx .wrapper-container .container { position: relative; font-size: 0; max-width: 100%; margin: 0 auto; }
  .c5-vsx .wrapper-container .container .versus > span { position: absolute; z-index: 117; width: 70px; height: 70px; color: #f94949; font-size: 45px; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; line-height: 65px; font-style: italic; font-weight: bold; border-radius: 50%; -webkit-border-radius: 50%; border: 4px solid #f94949; background: #FFF; }
  .c5-vsx .wrapper-container .container .poster .imagen a { display: block; border: 3px solid #063e7b; }
  .c5-vsx .wrapper-container .container .poster .imagen a:hover img { opacity: 0.7; }
  .c5-vsx .wrapper-container .container .versus .poster-imagen .img-title { height: 40px; font-size: 14px; padding: 4px 4px 2px; color: #FFF; background: #063e7b; font-weight: 600; overflow: hidden; }
  .c5-vsx .wrapper-container .container .versus { display: block; padding: 5px 5px 0 5px; }
  .c5-vsx .wrapper-container .container .versus .poster { margin: 0; vertical-align: top; display: inline-block; width: 50%; }
  .c5-vsx .wrapper-container .container .versus .poster-imagen .imagen { width: 100%; margin: 0 auto; position: relative; max-width: 400px; }
  .c5-vsx .wrapper-container .container .versus .poster-imagen .imagen img { width: 100%; position: relative; display: block; opacity: 1; }
  .c5-vsx .wrapper-container .container .versus .poster-imagen .imagen .votar span { color: #FFF; transform: rotate(-45deg) translate(-66px, -133%); -webkit-transform: rotate(-45deg) translate(-66px, -133%); left: 14px; top: -23px; z-index: 100; font-size: 12px; font-weight: bold; position: absolute; }
  .c5-vsx .wrapper-container .container .versus .poster-imagen .votar { position: absolute; top: 0; left: 0; border-right: 50px solid transparent; border-top: 0px solid #063e7b; border-left: 50px solid #063e7b; border-bottom: 50px solid transparent; }
  .c5-vsx .wrapper-container .container .poster .imagen a { display: block; border: 3px solid #063e7b; }
  .c5-vsx .wrapper-container .container .versus { padding: 20px 5px 0 5px; background: #000 url(../images/back_cinepolis.jpg) no-repeat 50% 50%; background-size: 100%; }
  .c5-vsx .wrapper-container .container .versus .poster-imagen { padding: 0 15px 20px 15px; }
}

/*TABLET*/
@media screen and (min-width:748px) {
  .c5-vsx .cintillo-promo h1 { font-size: 30px; }
  #tui-logo a i { font-size: 83px; line-height: initial; }
  div.shareall { right: 30px; }
  .c5-vsx .cintillo-bar-back { margin-top: 0; }
  .c5-vsx .wrapper-container .container .versus > span { width: 70px; height: 70px; line-height: 65px; font-size: 45px; }
  .c5-vsx .c5-versus .wrapper-container .container .versus > span { border: 4px solid #f94949; }

  .c5-vsx .wrapper-container .container .versus .poster-imagen .imagen .votar span { left: -22px; top: 3px; font-size: 26px; }
  .c5-vsx .c5-versus .wrapper-container .container .versus .poster-imagen .votar { top: 0; left: 0; border-right: 110px solid transparent; border-top: 0px solid #063e7b; border-left: 110px solid #063e7b; border-bottom: 110px solid transparent; }
  .c5-vsx .c5-versus .wrapper-container .container .versus .poster-imagen .img-title { height: 60px; font-size: 22px; line-height: 25px; padding: 5px 20px 4px; }
  .c5-vsx .c5-versus .wrapper-container .container .versus .poster-imagen { padding: 0 10px 40px 10px; }

  /* BEGIN: VERSUS 2 TABLET */
  .c5-vsx .wrapper-container .container .versus .poster-imagen { padding: 0 5px 40px 5px; }
  .c5-vsx .wrapper-container .container .versus { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; padding: 40px 50px 0 50px; justify-content: center; -webkit-justify-content: center; flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-flow: row wrap; -webkit-flex-flow: row wrap; }
  .c5-vsx .wrapper-container .container .versus .poster { margin: 0; vertical-align: top; flex: 0 0 20%; -webkit-flex: 0 0 20%; }
  .c5-vsx .wrapper-container .container .versus .poster:nth-child(-n+5) { flex: 1 0 20%; -webkit-flex: 1 0 20%; }
  .c5-vsx .wrapper-container .container .versus .poster-imagen .imagen .votar span { left: 7px; top: -18px; font-size: 16px; }
  .c5-vsx .wrapper-container .container .versus > span { border: 4px solid #f94949; }
  .c5-vsx .wrapper-container .container .versus .poster-imagen .votar { top: 0; left: 0; border-right: 60px solid transparent; border-top: 0px solid #063e7b; border-left: 60px solid #063e7b; border-bottom: 60px solid transparent; }
  .c5-vsx .wrapper-container .container .versus .poster-imagen .img-title { height: 50px; font-size: 18px; line-height: 20px; padding: 5px 10px 4px; }
  .c5-vsx .wrapper-container .container .versus .poster-imagen { padding: 0 10px 40px 10px; }

/* END: VERSUS 2 TABLET */ }

/*DESKTOP*/
@media screen and (min-width:1010px) {
  .c5-vsx .cintillo-promo h1 { font-size: 30px; }
  div#tui-logo { margin: 12px 30px 12px 30px; }
  #tui-logo a i { font-size: 96px; line-height: 50px; }
  .c5-vsx .shareall div .icon i:before { height: 30px; width: 30px; font-size: 32px; line-height: 23px; }
  .c5-vsx .shareall div .icon i:before { font-size: 45px; line-height: 38px; height: 45px; width: 45px; }
  footer.c5-footer { display: table; max-width: 1010px; }
  footer.c5-footer .c5-txtf { font-size: 14px; letter-spacing: 0.01em; margin-right: 40px; vertical-align: middle; padding-top: 0; }
  .c5-vsx .cintillo-bar-back { width: calc(100% - 5%); }
  .c5-vsx .box-c5-footer .desk_box_banner { height: 330px; margin-top: 67px; }
  .c5-vsx .box-twitter h3 { font-size: 48px; font-weight: bold; }
  .c5-vsx .box-top5 .top5 .titulo-top { font-size: 48px; font-weight: bold; margin-right: 10px; }
  .c5-vsx .box-top5 .top5 > span { font-size: 22px; font-weight: bold; line-height: 24px; }
  .c5-vsx .hidden-desktop { display: none !important; }
  .c5-vsx .wrapper-container .container .versus > span { width: 170px; height: 170px; line-height: 155px; font-size: 110px; }
  .c5-vsx .wrapper-container .container .versus .poster-imagen { padding: 0 10px 40px 10px; }
  .c5-vsx .wrapper-container .container .versus { padding: 40px  100px 0 100px; }
  .c5-vsx .wrapper-container .container .versus .poster-imagen { padding: 0 10px 40px 10px; }
  .c5-vsx .wrapper-container .container .versus .poster-imagen .imagen .votar span { left: -5px; top: -6px; font-size: 22px; }
  .c5-vsx .wrapper-container .container .versus .poster-imagen .votar { top: 0; left: 0; border-right: 80px solid transparent; border-top: 0px solid #063e7b; border-left: 80px solid #063e7b; border-bottom: 80px solid transparent; }
  .c5-vsx .wrapper-container .container .versus .poster-imagen .img-title { height: 60px; font-size: 22px; line-height: 26px; padding: 5px 10px 4px; overflow: hidden; }
}
/* END: VERSUS MAS DE 2 */


/* BEGIN: VERSUS MARCADOR */
@media screen {
  .c5-marcador .wrapper-container .container { font-size: 0; position: relative; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; justify-content: center; flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-flow: row wrap; -webkit-flex-flow: row wrap; -webkit-justify-content: center; }
  .c5-marcador .wrapper-container .container .poster { text-align: center; background: url(http://finalpage.esmas.com/apps/prototipo/canal5Versus2/unElemento/images/background_spiderman.png) no-repeat; background-size: cover; padding: 12px 0 30px 0; }
  .c5-marcador .wrapper-container .container .poster .votacion, .c5-marcador .wrapper-container .container .vs-sec .ranking { font-size: 24px; font-weight: bold; letter-spacing: -.025em; color: #FFF; margin-bottom: 16px; }
  .c5-marcador .wrapper-container .container .vs-sec .ranking { padding-top: 12px; margin-bottom: 16px; }
  .c5-marcador .wrapper-container .container .poster .imagen { max-width: 125px; margin: 0 auto; }
  .c5-marcador .wrapper-container .container .poster img { border: 3px solid #063e7b; width: 100%; }
  .c5-marcador .wrapper-container .container .poster, .c5-marcador .wrapper-container .container .vs-sec { width: 100%; display: inline-block; margin: 0; vertical-align: top; text-align: center; min-height: 221px; }
  .c5-marcador .wrapper-container .container .poster { background-size: cover; background: #000 url(http://finalpage.esmas.com/apps/prototipo/canal5Versus2/unElemento/images/background_spiderman.png) no-repeat 50% 50%; }
  .c5-marcador .wrapper-container .container .selected .margin { border: 3px solid #063e7b; position: absolute; width: 100%; height: 100%; top: 0; }
  .c5-marcador .wrapper-container .container .vs-sec-imagen { position: relative; margin: 0 20px 20px 20px; display: inline-block; }
  .c5-marcador .wrapper-container .container .vs-sec-imagen img { width: 100%; display: block; }
  .c5-marcador .wrapper-container .container .vs-container { width: 100%; text-align: center; }
  .c5-marcador .wrapper-container .container .vs-sec .vs-sec-imagen.selected .lugar { position: absolute; top: 0; border-bottom: 25px solid transparent; border-left: 25px solid #063e7b; border-top: 25px solid #063e7b; border-right: 25px solid transparent; }
  .c5-marcador .wrapper-container .container .vs-sec .vs-sec-imagen .lugar { position: absolute; top: 0; border-bottom: 25px solid transparent; border-left: 25px solid #000; border-top: 25px solid #000; border-right: 25px solid transparent; }
  .c5-marcador .wrapper-container .container .vs-sec .vs-sec-imagen .lugar span { position: absolute; top: 0; font-size: 14px; transform: translate(-44px, -43px); -webkit-transform: translate(-13px, -20px); font-weight: bold; color: #FFF; }
  .c5-marcador .wrapper-container .container .vs-sec-imagen > div { position: relative; width: 100%; max-width: 96px; }
  .c5-marcador .wrapper-container .container .vs-sec-ganaste { font-size: 16px; text-align: center; background: #343434; color: #FFF; letter-spacing: -.025em; padding: 20px 0 40px 0; width: 100%; }
  .c5-marcador .wrapper-container .container .vs-sec-ganaste p:first-child { font-size: 24px; }
  .c5-marcador .wrapper-container .container .vs-sec-ganaste ul { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; justify-content: center; -webkit-justify-content: center; flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-flow: row wrap; -webkit-flex-flow: row wrap; font-size: 0; }
  .c5-marcador .wrapper-container .container .vs-sec-ganaste li { width: 90px; height: 40px; display: inline-block; background: #FFF; margin: 30px 5px 0 5px; }
  .c5-marcador .wrapper-container .container .vs-sec-ganaste li:hover { opacity: .8; transition: all .5s ease 0; -o-transition: all .5s ease 0; -mos-transition: all .5s ease 0; -webkit-transition: all .5s ease 0; }
  .c5-marcador .wrapper-container .container .vs-sec-ganaste li a { display: block; }
  .c5-marcador .wrapper-container .container .vs-sec-ganaste li a i { font-size: 34px; line-height: 40px; color: #FFF; }
  .c5-marcador .wrapper-container .container .vs-sec-ganaste li.twitter { background: #32D6EF; }
  .c5-marcador .wrapper-container .container .vs-sec-ganaste li.facebook { background: #325994; }
  .c5-marcador .wrapper-container .container .vs-sec-ganaste li.google { background: #DD4C3B; }
  .c5-marcador .wrapper-container .container .vs-sec-container { width: 100%; background: #5f5f5f; }
}

/*TABLET*/
@media screen and (min-width:748px) {
  .c5-marcador .cintillo-promo h1 { font-size: 30px; }
  .c5-marcador #tui-logo a i { font-size: 83px; line-height: initial; }
  .c5-marcador div.shareall { right: 30px; }
  .c5-marcador .cintillo-bar-back { margin-top: 0; }
  .c5-marcador .wrapper-container .container .vs-container { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; justify-content: center; -webkit-justify-content: center; flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-flow: row wrap; -webkit-flex-flow: row wrap; padding: 0 18px; }
  .c5-marcador .wrapper-container .container .vs-sec-imagen { position: relative; margin: 0 10px 20px 10px; flex: 0 0 27%; -webkit-flex: 0 0 27%; }
  .c5-marcador .wrapper-container .container .poster, .c5-marcador .wrapper-container .container .vs-sec-container { width: 50%; display: inline-block; vertical-align: top; text-align: center; }
  .c5-marcador .wrapper-container .container .vs-sec-container { background: #5f5f5f; }
  .c5-marcador .wrapper-container .container .poster .imagen { max-width: 290px; margin: 0 auto; }
  .c5-marcador .wrapper-container .container .vs-sec-imagen > div { position: relative; width: 100%; max-width: initial; }
  .c5-marcador .wrapper-container .container .vs-sec-ganaste { display: block; }
  .c5-marcador .wrapper-container .container .vs-sec-container { }
  .c5-marcador .wrapper-container .container .poster .votacion, .c5-marcador .wrapper-container .container .vs-sec .ranking { font-size: 36px; }
  .c5-marcador .wrapper-container .container .vs-sec .ranking { padding-top: 22px; margin-bottom: 21px; }
}

/*DESKTOP*/
@media screen and (min-width:1010px) {
  .c5-marcador .cintillo-promo h1 { font-size: 30px; }
  .c5-marcador div#tui-logo { margin: 12px 30px 12px 30px; }
  .c5-marcador #tui-logo a i { font-size: 96px; }
  .c5-marcador .shareall div .icon i:before { height: 30px; width: 30px; font-size: 32px; line-height: 23px; }
  .c5-marcador .shareall div .icon i:before { font-size: 45px; line-height: 46px; height: 45px; width: 45px; }
  .c5-marcador footer.c5-footer { display: table; max-width: 1010px; }
  .c5-marcador footer.c5-footer .c5-txtf { font-size: 14px; letter-spacing: 0.01em; margin-right: 40px; vertical-align: middle; padding-top: 0; }
  .c5-marcador .cintillo-bar-back { width: calc(100% - 5%); }
  .c5-marcador .box-c5-footer .desk_box_banner { height: 330px; margin-top: 67px; }
  .c5-marcador .box-twitter h3 { font-size: 48px; font-weight: bold; }
  .c5-marcador .box-top5 .top5 .titulo-top { font-size: 48px; font-weight: bold; margin-right: 10px; }
  .c5-marcador .box-top5 .top5 > span { font-size: 22px; font-weight: bold; line-height: 24px; }
  .c5-marcador .hidden-desktop { display: none !important; }
  .c5-marcador .wrapper-container .container .versus > span { width: 170px; height: 170px; line-height: 155px; font-size: 110px; }
  .c5-marcador .wrapper-container .container .versus .poster-imagen { padding: 0 10px 40px 10px; }
  .c5-marcador .wrapper-container .container .vs-container .vs-sec-imagen { margin: 0 10px 20px 10px; flex: 0 0 15%; -webkit-flex: 0 0 16%; }
  .c5-marcador .wrapper-container .container .vs-sec { min-height: 353px; }
  .c5-marcador .wrapper-container .container .vs-container { padding: 0 20px; }
  .c5-marcador .wrapper-container .container .poster .votacion, .c5-marcador .wrapper-container .container .vs-sec .ranking { font-size: 40px; }
  .c5-marcador .wrapper-container .container .vs-sec .ranking { padding-top: 22px; margin-bottom: 29px; }
}
/* END: VERSUS MARCADOR */


/* BEGIN: VERSUS RESULTADO */
@media screen {
  .c5-resultado .wrapper-container .container { font-size: 0; position: relative; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; justify-content: center; -webkit-justify-content: center; flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-flow: row wrap; -webkit-flex-flow: row wrap; }
  .c5-resultado .wrapper-container .container .poster { text-align: center; padding: 0 0 30px 0; }
  .c5-resultado .wrapper-container .container .poster .votacion, .wrapper-container .container .vs-sec .ranking { font-size: 24px; font-weight: bold; letter-spacing: -.025em; color: #FFF; margin-bottom: 16px; }
  .c5-resultado .wrapper-container .container .vs-sec .ranking { padding-top: 12px; margin-bottom: 16px; }
  .c5-resultado .wrapper-container .container .poster .imagen { max-width: 125px; margin: 0 auto; }
  .c5-resultado .wrapper-container .container .poster img { border: 3px solid #063e7b; width: 100%; }
  .c5-resultado .wrapper-container .container .poster, .c5-resultado .wrapper-container .container .vs-sec { width: 100%; display: inline-block; margin: 0; vertical-align: top; text-align: center; min-height: 260px; }
  .c5-resultado .wrapper-container .container .poster { background-size: cover; background: #000 url(http://finalpage.esmas.com/apps/prototipo/canal5Versus2/unElemento/images/background_spiderman.png) no-repeat 50% 50%; }
  .c5-resultado .wrapper-container .container .selected .margin { border: 3px solid #063e7b; position: absolute; width: 100%; height: 100%; top: 0; }
  .c5-resultado .wrapper-container .container .vs-sec-imagen { position: relative; margin: 0 20px 20px 20px; display: inline-block; }
  .c5-resultado .wrapper-container .container .vs-sec-imagen img { width: 100%; display: block; }
  .c5-resultado .wrapper-container .container .vs-container { width: 100%; text-align: center; }
  .c5-resultado .wrapper-container .container .vs-sec .vs-sec-imagen.selected .lugar { position: absolute; top: 0; border-bottom: 25px solid transparent; border-left: 25px solid #063e7b; border-top: 25px solid #063e7b; border-right: 25px solid transparent; }
  .c5-resultado .wrapper-container .container .vs-sec .vs-sec-imagen .lugar { position: absolute; top: 0; border-bottom: 25px solid transparent; border-left: 25px solid #000; border-top: 25px solid #000; border-right: 25px solid transparent; }
  .c5-resultado .wrapper-container .container .vs-sec .vs-sec-imagen .lugar span { position: absolute; top: 0; font-size: 14px; transform: translate(-44px, -43px); -webkit-transform: translate(-13px, -20px); font-weight: bold; color: #FFF; }
  .c5-resultado .wrapper-container .container .vs-sec-imagen > div { position: relative; width: 100%; max-width: 96px; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste { font-size: 64px; text-align: center; background: #343434; color: #FFF; letter-spacing: -.025em; padding: 10px 0 10px 0; width: 100%; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .vs-sec-palomitas { margin-bottom: 25px; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .vs-sec-palomitas li { display: inline-block; margin: 30px 18px 0 0; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .vs-sec-palomitas li:last-child { margin-right: 0; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .vs-sec-palomitas li .tipo { font-size: 12px; font-weight: bold; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .vs-sec-palomitas li .cantidad { font-size: 12px; font-weight: 600; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .vs-sec-palomitas li .palomita { width: 45px; font-size: 0; margin: 0 auto; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .vs-sec-palomitas li .palomita img { width: 100%; margin: 7px 0; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .redes li { width: 40px; height: 40px; display: inline-block; background: #FFF; margin: 12px 5px 0 5px; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .redes li:hover { opacity: .8; transition: all .5s ease 0; -o-transition: all .5s ease 0; -mos-transition: all .5s ease 0; -webkit-transition: all .5s ease 0; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .redes li a { display: block; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .redes li.twitter { background: #32D6EF; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .redes li.facebook { background: #325994; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .redes li.google { background: #DD4C3B; }
  /* .c5-resultado .wrapper-container .container .vs-sec-container { width: 100%; background: #5f5f5f; } */
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .redes li a i { font-size: 34px; color: #FFF; line-height: 39px; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste h4 { font-size: 16px; font-weight: bold; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste p { font-size: 16px; font-weight: normal; }
}

/*TABLET*/
@media screen and (min-width:748px) {
  .c5-resultado .cintillo-promo h1 { font-size: 30px; }
  .c5-resultado #tui-logo a i { font-size: 83px; line-height: initial; }
  .c5-resultado div.shareall { right: 30px; }
  .c5-resultado .cintillo-bar-back { margin-top: 0; }
  .c5-resultado .wrapper-container .container .vs-container { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; justify-content: center; -webkit-justify-content: center; flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-flow: row wrap; -webkit-flex-flow: row wrap; padding: 0 18px; }
  .c5-resultado .wrapper-container .container .vs-sec-imagen { position: relative; margin: 0 10px 20px 10px; flex: 0 0 27%; -webkit-flex: 0 0 27%; }
  .c5-resultado .wrapper-container .container .poster, .wrapper-container .container .vs-sec-container { width: 50%; display: inline-block; vertical-align: top; text-align: center; }
  .c5-resultado .wrapper-container .container .vs-sec-container { background: #5f5f5f; }
  .c5-resultado .wrapper-container .container .img1 > div { margin-top: 24px; }
  .c5-resultado .wrapper-container .container .poster .imagen { max-width: 290px; margin: 0 auto; }
  .c5-resultado .wrapper-container .container .vs-sec-imagen > div { position: relative; width: 100%; max-width: initial; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste h4 { font-size: 30px; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste p { font-size: 24px; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste p.comparte { font-size: 20px; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .vs-sec-palomitas li .tipo { font-size: 18px; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .vs-sec-palomitas li .cantidad { font-size: 16px; font-weight: 400; }
  .c5-resultado .wrapper-container .container .vs-sec-ganaste .vs-sec-palomitas li { margin: 30px 30px 0 0; }
  .c5-resultado .wrapper-container .container .poster .votacion, .wrapper-container .container .vs-sec .ranking { font-size: 36px; }
  .c5-resultado .wrapper-container .container .vs-sec .ranking { padding-top: 22px; margin-bottom: 26px; }
}

/*DESKTOP*/
@media screen and (min-width:1010px) {
  .c5-resultado .cintillo-promo h1 { font-size: 30px; }
  .c5-resultado div#tui-logo { margin: 12px 30px 12px 30px; }
  .c5-resultado #tui-logo a i { font-size: 96px; line-height: 50px; }
  .c5-resultado .shareall div .icon i:before { height: 30px; width: 30px; font-size: 32px; line-height: 23px; }
  .c5-resultado .shareall div .icon i:before { font-size: 45px; line-height: 46px; height: 45px; width: 45px; }
  .c5-resultado footer.c5-footer { display: table; max-width: 1010px; }
  .c5-resultado footer.c5-footer .c5-txtf { font-size: 14px; letter-spacing: 0.01em; margin-right: 40px; vertical-align: middle; padding-top: 0; }
  .c5-resultado .cintillo-bar-back { width: calc(100% - 5%); }
  .c5-resultado .box-c5-footer .desk_box_banner { height: 330px; margin-top: 67px; }
  .c5-resultado .box-twitter h3 { font-size: 48px; font-weight: bold; }
  .c5-resultado .box-top5 .top5 .titulo-top { font-size: 48px; font-weight: bold; margin-right: 10px; }
  .c5-resultado .box-top5 .top5 > span { font-size: 22px; font-weight: bold; line-height: 24px; }
  .c5-resultado .hidden-desktop { display: none !important; }
  .c5-resultado .wrapper-container .container .versus > span { width: 170px; height: 170px; line-height: 155px; font-size: 110px; }
  .c5-resultado .wrapper-container .container .versus .poster-imagen { padding: 0 10px 40px 10px; }
  .c5-resultado .wrapper-container .container .vs-container .vs-sec-imagen { margin: 0 10px 20px 10px; flex: 0 0 15%; -webkit-flex: 0 0 16%; }
  .c5-resultado .wrapper-container .container .vs-container { padding: 0 20px; }
  .c5-resultado .wrapper-container .container .poster .votacion, .wrapper-container .container .vs-sec .ranking { font-size: 40px; }
}
/* END: VERSUS RESULTADO */